<!DOCTYPE html>
<html>
  <head>
    <title>Vestus</title>
    <link rel='stylesheet' href='/components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="page-bg"></div>

    <div class="container text-center well login-container">
      <img src="/images/logo.jpg" alt=""><br><br>
      <h2>
          UPS! Przepraszamy, coś poszło nie tak.
      </h2>

      <h3>Skontaktuj się z administratorem strony.</h3>

      <br>

      <a href="/" class="btn btn-warning">Przejdź do strony głównej</a>
    </div>
    
  </body>
</html>
